$black-100: rgb(0, 0, 0);
$black-90: rgb(26, 26, 26);
$black-80: rgb(51, 51, 51);
$black-70: rgb(77, 77, 77);
$black-60: rgb(102, 102, 102);
$black-50: rgb(128, 128, 128);
$black-40: rgb(153, 153, 153);
$black-30: rgb(179, 179, 179);
$black-20: rgb(205, 205, 205);
$black-15: rgb(217, 217, 217);
$black-10: rgb(229, 229, 229);
$black-5: rgb(242, 242, 242);
$white: rgb(255, 255, 255);

$blue-darkest: rgb(43, 59, 90);
$blue-darker-darkest: rgb(84, 99, 123);
$blue-darker: rgb(136, 149, 174);
$blue-medium: rgb(176, 185, 201);
$blue-lighter: rgb(231, 234, 239);
$blue-lightest: rgb(239, 241, 244);
