.video {
  height: auto;
  margin: 0 0 -5px;
  width: 100%;

  @media (max-width: 767px) {
    display: none;
  }
}

.poster {
  height: auto;
  margin: 0 0 -5px;
  width: 100%;

  @media (min-width: 768px) {
    display: none;
  }
}
