@import "colors";
@import "typography";

// the child <section> can use 'flex-grow' to fill its parent <main.content> in the Layout component
.section {
  background-color: $blue-darker;
  flex: 1 0 auto; // flex-grow: 1, flex-shrink: 0, flex-basis: auto

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 10%;

    @media screen and (min-width: 550px) {
      font-size: 1.2em;
      max-width: 80vw;
    }
  }

  span {
    font-size: 3em;
  }

  h1 {
    color: $blue-darkest;
    font-size: 2.3em;
    font-weight: 900;
    margin: 20px 0 30px;
    text-align: center;
    text-transform: uppercase;
  }

  h3 {
    color: $blue-medium;
    font-size: 1.5em;
    font-weight: 900;
    line-height: 1.5;
    margin: 20px 0 40px;
    text-align: center;
  }

  p {
    color: $white;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 auto 30px;
    text-align: center;
  }

  a {
    color: white;

    &:hover {
      color: $blue-medium;
    }
  }
}
