@import "colors";
@import "typography";

.section {
  background-color: $blue-darkest;

  h2 {
    color: white;
    font-weight: 300;
  }

  p {
    color: white;
  }

  a {
    color: white;

    &:hover,
    &:focus {
      color: $blue-medium;
      outline: 1px dotted white;
    }
  }
}
