@import "colors";
@import "typography";

.section {
  background-color: $blue-darkest;

  .grid {
    display: grid;
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
  }

  h2 {
    color: white;
    font-weight: 300;
    margin: 0;
  }

  p {
    color: white;
    margin: 0;
  }

  a {
    color: white;

    &:hover,
    &:focus {
      color: $blue-medium;
      outline: 1px dotted white;
    }
  }
}
