@import "colors";
@import "typography";

.section {
  background-color: $blue-darkest;

  h2 {
    color: white;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
  }

  p {
    color: white;
    font-weight: 200;
    line-height: 1.5;
    margin: 0 auto 5vh;
  }
}
