*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 54px; /* height of sticky header */
}

body {
  min-height: 100vh;
  width: 100vw;
}
