@import "colors";

// breakpoints
$mobile-xs: 380px;
$desktop: 1200px;

header {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid $blue-medium;
  display: flex;
  height: 52px;
  justify-content: space-between;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
}

.logo {
  margin: 2px auto 0;
  padding-left: 36px;

  @media (max-width: $mobile-xs) {
    height: auto;
    width: 240px;
    padding-left: 20px;
  }

  img {
    padding: 0;
  }

  a:hover,
  a:focus {
    outline: thin dotted $blue-darker;
  }

  a[aria-current="page"]:focus {
    outline: thin dotted $blue-darker;
  }
}

// prevent the default {display: inline} of links.
// prevents linked images from overflowing the container
a {
  display: inline-block;
}

.anchor {
  &::before {
    content: "";
    display: block;
    height: 54px;
    margin: -54px 0 0;
  }
}

nav {
  .hamburger {
    background: none;
    border: none;
    color: $blue-medium;
    cursor: pointer;
    display: flex;
    font-size: 24px;
    margin: 0 20px 0 0;
    padding: 0;

    &:focus {
      outline: thin dotted $blue-darker;
      outline-offset: 3px;
    }

    @media (min-width: $desktop) {
      display: none;
    }
  }

  .is-active {
    display: block;
  }

  ul {
    background-color: white;
    display: none; // defaults to none, then displayed with '.is-active' toggle
    list-style: none;
    margin: 0;
    max-width: 100%;
    padding: 0;
    position: absolute;
    top: 52px;
    right: 0;
    width: 100%;
    z-index: 1;

    @media (min-width: $desktop) {
      display: block; // defaults to display on desktop
      margin: 0 30px 0 0;
      position: static;
    }

    li {
      border-bottom: 1px solid $blue-medium;
      display: block;
      margin-left: 0;

      @media (min-width: $desktop) {
        border-bottom: none;
        display: inline-block;
        margin-left: 20px;
      }
    }
  }

  a {
    color: $blue-darker;
    display: block;
    font-weight: 500;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    @media (min-width: $desktop) {
      padding: 0;
    }

    &:hover,
    &:focus {
      background-color: $blue-lighter;
      color: $blue-darkest;
      outline: none;

      @media (min-width: $desktop) {
        background-color: white;
        outline: thin dotted $blue-darker;
        outline-offset: 3px;
      }
    }
  }
}
