@import "colors";
@import "typography";

.section {
  background-color: white;

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
    justify-items: center;
  }

  h2 {
    color: $blue-darkest;
    margin: 0;
  }

  .logo {
    max-width: 220px;
  }

  a:hover,
  a:focus {
    outline: thin dotted $blue-darker;
    outline-offset: 10px;
  }
}
