@import "colors";
@import "typography";

.section {
  background-color: $blue-medium;

  h2 {
    color: $blue-darkest;
    margin: 0;
  }

  p {
    color: $blue-darkest;
    font-weight: 400;
    margin: 0;
  }

  .grid {
    display: grid;
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
  }

  .subgrid {
    display: grid;
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
    justify-items: center;

    @media (min-width: 650px) {
      column-gap: 10px;
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 990px) {
      column-gap: 10px;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
